body{
    background-color: #FFEEF4;
}
.container {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color:#FDE5EC ;
}

h2 {
    margin-top: 0;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}



input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"][placeholder="kg"],
input[type="text"][placeholder="inches"] {
    text-align: right;
}