html {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background-image: linear-gradient(to right, #dbcbd8 , #e9e2ea);
    color: #212121;
    font-size: 12px;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section-header {
    display: block;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

section {
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}

a, a:link, a:visited {
    color: #212121;
    text-decoration: none;
}

.Carousel-slider {
    height: 560px;
    position: relative;
    width: 100%;
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
	perspective: 800px  !important;
}

.slider-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    display: none;
    height: 360px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
    cursor: pointer;
	border: 2px solid #463c49;
}

.indicators {
	top: 0;
    left: 50%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -77px;
    position: absolute;
}

.indicators li {
    color: #255f8b;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators li:last-child {margin: 0;}
.indicators a {
    background: #00416a;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
	background: #e4e5e6;

}
.month_1 {background: url(month_img/month_1.png); border-radius: 50px !important;}
.month_2 {background: url(month_img/month_2.png); border-radius: 50px !important;}
.month_3 {background: url(month_img/month_3.png); border-radius: 50px !important;}
.month_4 {background: url(month_img/month_4.png); border-radius: 50px !important;}
.month_5 {background: url(month_img/month_5.png); border-radius: 50px !important;}
.month_6 {background: url(month_img/month_6.png); border-radius: 50px !important;}
.month_7 {background: url(month_img/month_7.png); border-radius: 50px !important;}
.month_8 {background: url(month_img/month_8.png); border-radius: 50px !important;}
.month_9 {background: url(month_img/month_9.png); border-radius: 50px !important;}

.month {
  padding: 30px;
  font-size: 30px;
  color: rgb(27, 6, 57);
}

